<%- include('../partials/header') %>

<form action="/skills" method="POST">
  <input type="text" name="skill">
  <button type="submit">Save To-Do</button>
</form>

<%- include('../partials/footer') %>